.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
dhs_gh_22/
dhs_gh_14/
dhs_ml_23/
dhs_ml_18/
dhs_ml_12/
dhs_ci_21/
dhs_ci_12/
dhs_bf_21/
dhs_bf_10/
glob_polygons/
covariates/
dhs_bf/
Act.html
.RDataTmp4
stan_model_results.RData
*.RData
.RDataTmp*
iid_null.rds